* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}

body {
  width: 85%;
  max-width: 1250px;
  margin: auto;
  background-color: #1d1d1d;
  font-family: "Montserrat", sans-serif;
}

body.light {
  background-color: #ffffff;
}

.nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 7.5%;
  background-color: #282828;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.light.nav {
  background-color: #ffffff;
}

.nav h1 {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.light.nav h1 {
  color: #151515;
}

.content {
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  color: #ffffff;
  text-align: center;
}

.intro h1 {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.intro p {
  margin-bottom: 10px;
  font-weight: 500;
}

.intro a {
  color: hsl(146, 65%, 55%);
}

.intro a:hover {
  color: hsl(210, 78%, 56%);
}

.light.intro {
  color: #000000;
}

.filter-search {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.filter-search input {
  border: 1px solid #ffffff;
  padding: 5px 10px;
  width: 30%;
  color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.light.filter-search input {
  border-color: #000000;
  color: #000000;
}

select {
  border: 1px solid #ffffff;
  padding: 4px 10px;
  width: 30%;
  border-radius: 5px;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.light.filter-search select {
  border-color: #000000;
  color: #000000;
}

.country-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.country {
  position: relative;
  display: grid;
  height: 45vh;
  grid-template-rows: [row1-start] 50% [row1-end] 50% [third-line];
  background: linear-gradient(
    180deg,
    rgba(40, 39, 39, 0.95) 0%,
    rgb(29, 29, 29) 100%
  );
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.light.country {
  background: linear-gradient(
    180deg,
    rgba(252, 252, 252) 0%,
    rgb(240, 240, 240) 100%
  );
}

.country:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

.flag {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(80%);
}

.light.flag {
  filter: brightness(100%);
}

.flag-ribbon {
  padding: 20vh 100% 0px 0px;
  border-radius: 10px 10px 10px 0px;
  padding-left: 16px + 16px;
  position: absolute;
  left: -15px;
  top: 10px;
  box-shadow: 0.7px 1.1px 6.6px -2px rgba(0, 0, 0, 0.024),
    1.3px 2px 11px -2px rgba(0, 0, 0, 0.037),
    1.9px 2.8px 13.3px -2px rgba(0, 0, 0, 0.048),
    2.6px 3.9px 13.7px -2px rgba(0, 0, 0, 0.057),
    3.9px 5.8px 13.4px -2px rgba(0, 0, 0, 0.064),
    8px 12px 26px -2px rgba(0, 0, 0, 0.07);
  object-fit: cover;
}

.flag-ribbon::after {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.40940126050420167) 0%,
    rgba(0, 0, 0, 0) 150%
  );
  display: block;

  content: "";
  width: 16px;
  height: 16px;

  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 16px 0 0 16px;
}

.country .details {
  position: absolute;
  top: 22vh;
  width: 100%;
  padding: 20px;
  color: #ffffff;
}

.country .light.details {
  color: #000000;
}

.country .details h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 18px;
}

.country .details p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #dedede;
}

.country .light.details p {
  color: #000000;
}

.country-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.country-page .flag {
  width: 100%;
  height: auto;
  object-fit: contain;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

.more {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.more h1 {
  margin-bottom: 30px;
}

.dets {
  display: flex;
  gap: 80px;
  margin-bottom: 20px;
}

.dets p {
  margin-bottom: 10px;
}

.country-details {
  color: #ffffff;
}

.light.country-details {
  color: #151515;
}

.border-button {
  margin: 5px 10px;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.light.country-details button {
  color: #151515;
}

button:hover {
  transform: scale(1.1);
}

/* Theme switcher */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 20px;
  right: 7.5%;
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 2px;
  background-color: #282828;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.light.slider:before {
  background-color: #858585;
}

input:checked + .slider {
  background: #ffffff;
}

input:checked + .light.slider {
  background: #d2d2d2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* LOADER ANIMATION */
.loader {
  -webkit-perspective: 700px;
  perspective: 700px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.loader > span {
  font-size: 38px;
  display: inline-block;
  animation: flip 2.6s infinite linear;
  transform-origin: 0 70%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

@keyframes flip {
  35% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotatex(360deg);
  }
}

.loader > span:nth-child(2) {
  animation-delay: 0.3s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.6s;
}

.loader > span:nth-child(4) {
  animation-delay: 0.9s;
}

.loader > span:nth-child(5) {
  animation-delay: 1.2s;
}

.loader > span:nth-child(6) {
  animation-delay: 1.5s;
}

.loader > span:nth-child(7) {
  animation-delay: 1.8s;
}
